<section class="contacts section">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Our offices</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__type">Cafe</p>
        <p class="contacts__location">Chicago</p>
        <p class="contacts__adress">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <ul class="contacts__working-time">
          <li class="contacts__working-days">Monday - Friday</li>
          <li class="contacts__working-hours">06:00 AM - 10:00 PM</li>
          <li class="contacts__working-days">Saturday - Sunday</li>
          <li class="contacts__working-hours">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__communucation">
          <li class="contacts__communication-item">
            <a class="contacts__phone" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a class="contacts__email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__type">Foodtruck</p>
        <p class="contacts__location">Chicago</p>
        <p class="contacts__adress">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <ul class="contacts__working-time">
          <li class="contacts__working-days">Monday - Friday</li>
          <li class="contacts__working-hours">06:00 AM - 10:00 PM</li>
          <li class="contacts__working-days">Saturday - Sunday</li>
          <li class="contacts__working-hours">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__communucation">
          <li class="contacts__communication-item">
            <a class="contacts__phone" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a class="contacts__email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__type">Cafe</p>
        <p class="contacts__location">New York</p>
        <p class="contacts__adress">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
        <ul class="contacts__working-time">
          <li class="contacts__working-days">Monday - Friday</li>
          <li class="contacts__working-hours">06:00 AM - 10:00 PM</li>
          <li class="contacts__working-days">Saturday - Sunday</li>
          <li class="contacts__working-hours">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__communucation">
          <li class="contacts__communication-item">
            <a class="contacts__phone" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a class="contacts__email" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button
        class="contacts__main-button btn"
        type="submit"
        data-locations-open
      >
        Our Locations
        <svg class="button-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <button class="contacts__secondary-button btn" type="submit">
        Franchise
        <svg class="button-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="modal__backdrop" data-locations>
      <div class="modal locations">
        <div class="modal-container">
          <button class="modal__btn-close" data-locations-close>
            <svg class="close-btn-icon" width="24" heigh="24">
              <use href="./images/icons.svg#icon-close-btn"></use>
            </svg>
          </button>
          <p class="modal-title"></p>
        </div>
      </div>
    </div>
  </div>
</section>
