<header class="header">
  <div class="container header__container">
    <a class="logo link" href="/"
      ><svg class="logo__icon" width="40" height="37">
        <use href="../src/images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="" class="navigation__link link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="#products" class="navigation__link link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#contact" class="navigation__link link">Contact</a>
        </li>
      </ul>
    </nav>
        <button type="button" class="menu-open" data-menu-open>
      <svg width="32" height="32">
        <use href="../src/images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button type="button" class="btn header__btn">
        Buy now<svg class="header__icon" width="12" height="12">
          <use href="../src/images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    <div class="mob-menu is-hidden" data-menu>
      <div class="mob-menu__top">
        <a class="mob-menu__logo link" href="/">
          <svg class="logo__icon" width="40" height="37">
            <use href="../src/images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button type="button" class="menu-close" data-menu-close>
          <svg width="32" height="32">
            <use href="../src/images/icons.svg#icon-close-menu"></use>
          </svg>
        </button>

        <div class="menu__content">
          <ul class="mob-menu__list list">
            <li class="mob-menu__item">
              <a href="/" class="mob-menu__link link" >Home</a>
            </li>
            <li class="mob-menu__item">
              <a href="#made" class="mob-menu__link link">How it’s made?</a>
            </li>
            <li class="mob-menu__item">
              <a href="#ourproducts" class="mob-menu__link link">Our products</a>
            </li>
            <li class="mob-menu__item">
              <a href="#contact" class="mob-menu__link link">Contact</a>
            </li>
          </ul>
          <button type="button" class="btn mob-menu__btn">
            Buy now
            <svg class="mob-menu__icon" width="12" height="12">
              <use href="../src/images/icons.svg#icon-button-arrow"></use>
            </svg>
          </button> 
        </div>
      </div>
    </div>
  </div>
</header>