<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button class="hero__button" type="button" id="products">Products</button>
    <button class="hero__button" type="button" id="about">
      How it’s made?
    </button>
	<p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
	<ul class="numbers">
		<li class="numbers__item">
			<p class="numbers__item--number">16</p>
			<p class="numbers__item--text">cafes</p>
		</li>
		<li class="numbers__item--number">
			<p class="numbers__item">23</p>
			<p class="numbers__item--text">food trucks</p>
		</li>
	</ul>
  </div>
</section>
