<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
<div class="hero__anchors">
	    <a class="hero__anchors--link" id="products">Products</ф>
	    <a class="hero__anchors--link no-border" id="about">
	      How it’s made?
	    </a>
</div>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <ul class="numbers">
      <li class="numbers__item">
        <p class="numbers__item--number">16</p>
        <p class="numbers__item--text">cafes</p>
      </li>
      <li class="numbers__item">
        <p class="numbers__item--number">23</p>
        <p class="numbers__item--text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
