<section class="section__product product">
    <div class="product__container">
        <p class="product__subtitle">100% natural</p>
        <h2 class="product__title">products</h2>

        <ul class="product__card-list card-list" >
            <li class="card-list__item">
                <h3 class="card-list__subtitle">ice cream</h3>
                <p class="card-list__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <button  class="card-list__button" type="button">
                    <svg width="40" height="16">
                        <use href="./images/icons.svg#icon-arrow-mod"></use>
                    </svg>
                </button>
            </li> 
            
            <li class="card-list__item">
                <h3 class="card-list__subtitle">ice cream</h3>
                <p class="card-list__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button class="card-list__button" type="button">
                    <svg width="40" height="16">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            
            <li class="card-list__item">
                <h3 class="card-list__subtitle">ice cream</h3>
                <p class="card-list__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button class="card-list__button" type="button">
                    <svg width="40" height="16">
                        <use href="./images/icons.svg#icon-arrow-mod"></use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>
</section>
