.hero {
	background-repeat: no-repeat;
	background-size: contain;
  background-image: url(../images/hero/dots-decor-mob.png);
}

.hero__title {
  margin-top: 50px;
  margin-bottom: 32px;

  max-width: 247px;

  font-family: 'Seymour One', sans-serif;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet {
    margin-top: 14px;
    margin-bottom: 24px;
  }
  @include desktop {
    margin-top: 43px;
    margin-bottom: 28px;

    max-width: 367px;
    font-size: 38px;
    line-height: 1.26;
  }
}

.hero__button {
  padding: 0;
  width: 108px;
  height: 38px;
  border: 2px solid #f8d24e;
  border-radius: 8px;

  background-color: transparent;
<<<<<<< Updated upstream
  color: #000000;
=======
  color: $blackColor;
>>>>>>> Stashed changes
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
<<<<<<< Updated upstream

  transition: border-color $durationTiming, color $durationTiming;
  &:hover {
    border-color: #0a8817;
  }

  @include desktop {
    width: 143px;
    height: 42px;

    &:focus {
      outline: transparent;
      border-color: #0a8817;
      color: #fcfcfc;
    }
    &:active {
      outline: transparent;
      border-color: #ababab;
      color: #000000;
    }
  }
}

.hero__button + .hero__button {
  margin-left: 12px;
}

.no-border {
  width: 108px;
  height: 38px;
  border: none;
  text-decoration: underline;
  color: #f8d24e;
  &:hover {
    color: #0a8817;
  }

  @include desktop {
    width: 143px;
    height: 42px;

    &:focus {
      outline: transparent;
      color: #fcfcfc;
    }
    &:active {
      outline: transparent;
      color: #ababab;
    }
  }
}

.hero__description {
  display: none;
  @include tablet {
    margin-top: 46px;
    max-width: 151px;
    font-size: 12px;
    line-height: 1.4;
  }

  @include desktop {
    margin-top: 111px;
    max-width: 200px;
    font-size: 14px;
  }
}

.numbers {
	display: none;
	@include tablet {
		position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
	}
  
  @include desktop {
	gap: 18px;
  }
}

.numbers__item--number {
	color: #131313;
  font-weight: 900;
  font-size: 28px;
line-height: 1.21;
@include desktop {

	  font-size: 46px;
  line-height: 1.22;
  letter-spacing: 0.04em;
}

}

.numbers__item--text {
	font-size: 8px;
line-height: 1.25;
@include desktop {
		margin-top: 4px;
	font-size: 14px;
line-height: 1.21px;
}
=======
  @include desktop {
    font-size: 14px;
    line-height: 1.29;
  }
>>>>>>> Stashed changes
}
